{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        "> 1%"
                    ],
                    "node": "6.9"
                }
            }
        ],
        "@babel/preset-stage-3",
        "@babel/preset-typescript"
    ]
}
